*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {  /*background*/
    color: black;
    background-image: url('titleBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-container{  /* logo design */
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start; /* Align the logo to the top left */
}

.container{  /* overall card formatting */
    font-family: 'Avenir', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.card {  /* card design */
    background:white;
    width: 220px;
    height: 300px;
    margin: 30px;
    border-radius: 15px;
}

.card-image{  /* card image on top */
    background-color: black;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.car-1{ 
    background-image: url("toDoCard.jpeg");
}
.car-2{
    background-image: url("treeCard2.png");
}
.car-3{
    background-image: url("calendar.png");
}
.card h2{
    text-align: center;
    padding: 10px 10px 0;

}

.card p{
    text-align: center;
    padding: 0 10px 10px;
}

.card a{ /* hyperlink */
    /* margin-top: 35px; */
    background-color: black;
    color:white;
    padding: 15px, 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.card:hover{ /* hover animation */
    background-color: rgb(158,227,125);
    color: white;
    cursor:pointer;
    transform:scale(1.10, 1.10);
    transition:all 1s ease;
}